#!/usr/bin/make -f

SHELL=/bin/bash

build:

build-arch:

build-indep:

binary: binary-arch binary-indep
	rm -rfv "./debian/files"

	mkdir -pv "../deb/"$(install_path)"/"
	cp -vr -t "../deb/"$(install_path)"/" "./config" "./settings.json" "./layers" "./keebie.py"
	
	mkdir -pv "../deb/"$(bin_path)
	rm -rfv "../deb/"$(bin_path)
	ln -sv -T $(install_path)"/keebie.py" "../deb/"$(bin_path)

	mkdir -pv "../deb/DEBIAN/"
	cd "../deb/" && find "." -exec md5sum {} \; >> "../md5sums" 2> "/dev/null"
	mv -v "../md5sums" "../deb/DEBIAN/md5sums"
	echo > "../deb/DEBIAN/control"

	dpkg-gencontrol -O"../deb/DEBIAN/control"

	cp -v "./debian/"{pre,post}{inst,rm} "../deb/DEBIAN/" || echo -n

	dpkg-deb --root-owner-group --build "../deb/" "../"

	rm -rfv "../deb"

binary-arch:

binary-indep:

clean:
	rm -rfv "./debian/files"
