Source: keebie
Maintainer: Michael Basaj <michaelbasaj@protonmail.com>
Section: misc
Priority: Optional
Standards-Version: 4.5.1.0
Homepage: https://github.com/robinuniverse/Keebie
Vcs-Browser: https://github.com/robinuniverse/Keebie
Vcs-Git: https://github.com/robinuniverse/Keebie.git
Rules-Requires-Root: no

Package: keebie-package
Architecture: all
Section: misc
Priority: Optional
Essential: no
Depends: python3, pip
Homepage: https://github.com/robinuniverse/Keebie
Description: Easy Second Keyboard support in Linux (With layers!)
 This packages is a test, not intended for users.
